{{#each this}}
<div class="countries-container">
    <ul class="single-country-description">

        <li class countries-list>
            <span class="logo"><img src={{flag}} alt="{{name}} flag" width="30px" /></span>
            <span>{{name}}</span>
        </li>
    </ul>
</div>
{{/each}}