<div class="countries-container">
    <ul class="single-country-description">
        {{#each this}}
        <li>
            <span class="logo"><img src={{flag}} alt="{{name}} flag" width="30px"></span>
            <span>{{name}}</span>
        </li>
        {{/each}}
    </ul>
</div>